@import "../../../styles/global.scss";

.review-actions {
    color: $text-color-variant-2;
}

.comment-input-wrapper,
.filter-btn {
    border-radius: 30px;
}

.comment-input-wrapper,
.filter-btn {
    border: 2px solid #707070;
}

.filter-btn:hover {
    background-color: #f2f2f2;
}
