@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

@theme {
  --color-primary: #25396f;
  --color-main-bg: #f2f6ff;
  --color-coversation-bg: #DCDCDC ;
  --color-conversation-bg-hover: #C8C8C8;
  --color-message-container-bg: #F9FAFB; 
  --color-message-container-border: #E5E7EB; 
  --color-more-button-bg: #a7d8d2;
  --color-more-button-bg-hover: #4B4B4B;
  --color-more-icon: #B0B0B0;
}


$primary-text-color: #25396f;
$text-color-variant-1: #333;
$text-color-variant-2: #1e1915;
$text-color-variant-3: #555252;

$link-color: #435ebe;
$link-hover-color: #364b98;

$icon-color: #7c8db5;
$input-color: rgba(35, 28, 99, 0.7);
$text-heading-base-color: #1e1915;

$sidebar-item-background-color: #435ebe;
$main-background-color: #f2f6ff;
$divider-background-color: #cfccc9;
$navigation-bg-color: #faf8f6;

$primary-box-shadow: 0 0 0 0.25rem rgba(67, 94, 190, 0.25);
